.DS_Store

*.pyc
__pycache

# Pytest
**/.pytest_cache/

# Mypy
.mypy_cache/

# NPM/Node
/node_modules


# PyCharm
.idea/

# Python virtual environment
venv/

# Heroku deployment
*.log
*.pot
__pycache__/
local_settings.py

# Django testing
*.db.sqlite3

# Private environment variables
.env.*

# Coverage Database
.coverage

# Coverage HTML Reports
coverage_python/
coverage_javascript/